<app-tarjeta [name]="'IF | PIPE UPPERCASE'">
<p>Si Alumno comienza con M tandra background rojo de lo contrario tendra un background blanco con uppercase </p>
<ul>
  <li *ngFor="let alumno of alumnos; let i = index">
    <span
      [style.background-color]="'red'"
      *ngIf="alumno.startsWith('m'); else nom"
      >{{ i }} - {{ alumno }}</span
    >
    <ng-template #nom>
      <span  [style.background-color]="'white'">{{ i }} - {{ alumno | uppercase }}</span>
    </ng-template>
  </li>
</ul>

</app-tarjeta>

<app-tarjeta [name]="'IF 2'">
  <p>Si Alumno contiene una N en texto el estilo de font cambia a italic  </p>
  <ul>
    <li *ngFor="let alumno of alumnos; let i = index">
      <span
        [style.font-style]="'italic'"
        *ngIf="alumno.includes('n'); else non"
        >{{ i }} - {{ alumno }}</span
      >
      <ng-template #non>
        <span>{{ i }} - {{ alumno }}</span>
      </ng-template>
    </li>
  </ul>


  </app-tarjeta>


